version: 2.1

orbs:
  buildpacks: buildpacks/pack@0.2.0

jobs:
  build:
    docker:
      - image: cimg/base:2024.01
    steps:
      - checkout
      - run: echo "Building with buildpacks"

workflows:
  version: 2
  build_and_test:
    jobs:
      - build